/.vscode
/bin
/obj
/test
/src/AudioSourceX.cs.bak
pack.sh
run.sh
MiniAudioExNETTesting.csproj
MiniAudioEx.sln
/.idea/.idea.MiniAudioExNET.dir/.idea/.gitignore
/.idea/.idea.MiniAudioExNET.dir/.idea/copilot.data.migration.agent.xml
/.idea/.idea.MiniAudioExNET.dir/.idea/copilot.data.migration.ask.xml
/.idea/.idea.MiniAudioExNET.dir/.idea/copilot.data.migration.ask2agent.xml
/.idea/.idea.MiniAudioExNET.dir/.idea/copilot.data.migration.edit.xml
/.idea/.idea.MiniAudioExNET.dir/.idea/encodings.xml
/.idea/.idea.MiniAudioExNET.dir/.idea/indexLayout.xml
/.idea/.idea.MiniAudioExNET.dir/.idea/vcs.xml
